include input

mixin password-input(data)
	-
		data = init(data, {
			'block': 'password-input',
			'input': {
				'type': 'password',
			},
		})

	+b&attributes(data.attributes(attributes))(js-password-input)
		+input(data['input'])(class=data.elem('__input'))
		+e.BUTTON.__visibility-btn.bordered-btn(type='button' aria-label='Показать/скрыть пароль')