link(href='css/normalize.css' rel='stylesheet' type='text/css')
link(href='libs/jquery.fancybox.min.css' rel='stylesheet')
link(href='css/libs.css' rel='stylesheet' type='text/css')
link(href='css/template.css' rel='stylesheet' type='text/css')
