mixin about(data)
	+b.about&attributes(attributes)
		+e.wrap
			+e.section
				+e.subtitle Михаил Емашев
				+e.H1.title Привет, я Миша, веб-разработчик
			+e.section
				+e.subtitle Обо мне
				+e.text Я веб-разработчик из Новосибирска. Мне 22. Более 4 лет я занимаюсь созданием сайтов различной сложности. Я начинал с разработки простых лендингов для продажи разных товаров. Сейчас работаю в одной из топовых веб-студий Новосибирска. Мне нравится, чем я занимаюсь и собираюсь дальше развиваться в своей профессии. Я хочу делать больше красивых и функциональных сайтов, поэтому и начал работать самостоятельно.
			+e.section 
				+e.subtitle Что я делаю
				+e.UL.link-container
					+e.LI.item 
						+e.A.link(href='#') Веб-сервисы
					+e.LI.item 
						+e.A.link(href='#') Сайты-визитки
					+e.LI.item 
						+e.A.link(href='#') Интернет-магазины
					+e.LI.item 
						+e.A.link(href='#') Корпоративные порталы
					+e.LI.item 
						+e.A.link(href='#') Сайты на Битрикс
					+e.LI.item 
						+e.A.link(href='#') Сайты на Тильде