include menu-list
include contact-list

mixin mobile-menu(data)
	.mobile-menu-wrapper#mobile-menu
		+b.mobile-menu&attributes(attributes)
			+e.wrap
				+menu-list().mobile-menu__menu
				+contact-list().mobile-menu__contact