.about {

}

.about__wrap {
  & > * + * {
    margin-top: 70px;

    @include media-min($media-sm) {
      margin-top: 50px;
    }

    @include media-min($media-xl) {
      margin-top: 100px;
    }
  }
}

.about__section {
  max-width: 700px;

  @include media-min($media-xl) {
    max-width: 973px;
  }

  & > * + * {
    margin-top: 20px;

    @include media-min($media-sm) {
      margin-top: 30px;
    }
  }
}

.about__title {
  @include head-1-complex();
  max-width: 800px;
}

.about__subtitle {
  @include head-4-complex();
  text-transform: uppercase;
  color: $color-grey;
}

.about__link-container {
  & > * + * {
    margin-top: 10px;

    @include media-min($media-sm) {
      margin-top: 20px;
    }

    @include media-min($media-xl) {
      margin-top: 30px;
    }
  }
}

.about__link {
  @include head-2-complex();
  color: $color-black;
  text-decoration: none;
  transition: $transition;

  &:hover {
    opacity: 0.7;
  }
}