.block {
  margin-top: 45px;

  @include media-min($media-sm) {
    margin-top: 70px;
  }

  @include media-min($media-xl) {

  }
}

.block__head {
  margin-bottom: 25px;
}

.block__title {
  max-width: 290px;
  @include head-1-complex();

  @include media-min($media-sm) {
    max-width: 592px;
  }

  @include media-min($media-xl) {
    max-width: 659px;
    font-size: 70px;
    line-height: 91px;
  }
}

.block__title_w_max {
  max-width: 915px;
}

.block__body {

}

.block_first {
  margin-top: 100px;

  @include media-min($media-sm) {
    margin-top: 95px;
  }

  @include media-min($media-xl) {
    margin-top: 95px;
  }
}

.block_project {
  margin-top: 45px;

  @include media-min($media-sm) {
    margin-top: 60px;
  }

  @include media-min($media-xl) {
    margin-top: 105px;
  }
}

.block_padding {
  padding: 50px 0 40px;

  @include media-min($media-sm) {
    padding: 50px 0 80px;
  }

  @include media-min($media-xl) {
    padding: 60px 0 80px;
  }
}

.block_background_grey {
  background-color: $color-background-1;
}