@mixin bordered-btn_icon_eye() {
	// background-image: icon-eye($color-grey-2);
	&:hover,
	&:focus {
		// background-image: icon-eye($color-grey-2);
	}
}
@mixin bordered-btn_icon_eye-cross() {
	// background-image: icon-eye-cross($color-grey-2);
	&:hover,
	&:focus {
		// background-image: icon-eye-cross($color-grey-2);
	}
}

.password-input {
	position: relative;
	width: 100%;
	// padding-right: 49px;
}

.password-input__input {
	&[type="password"] + .password-input__visibility-btn.bordered-btn {
		// @include bordered-btn_icon_eye-cross();
	}
	&[type="text"] + .password-input__visibility-btn.bordered-btn {
		// @include bordered-btn_icon_eye();
	}
}

.password-input__visibility-btn {
	position: absolute;
	right: 20px;
	top: 50%;
  transform: translateY(-50%);
}

.bordered-btn {
	// @include button-default();
	width: 22px;
	height: 18px;
	// border: 1px solid $color-gray-2;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	&_icon_eye {
		// @include bordered-btn_icon_eye();
	}
	&_icon_eye-cross {
		// @include bordered-btn_icon_eye-cross();
	}
}