extends templates/main-template

block title
	title Демонстрация - Модалки

block content
	+b.SECTION.block
		.global-wrapper
			+e.head
				+e.title Демонстрация - Модалки
			+e.body
				+b.component-list
					+e.item